:root {
  --main-color: #FDF3DE;
  --footer-header: #753987;
  --conteudo: #372345;
  --black: #000000;
  --font-orange: #FF7C2D;
  --cinza: #807C7C;
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2 linear;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--main-color);
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--main-color);
}

.header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: var(--cinza);
}

.botao {
  background-color: var(--footer-header);
  padding: 8px;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
}

.navbar a:hover {
  color: var(--font-orange);
  border-bottom: 0.1rem solid var(--font-orange);
  padding-bottom: 0.5rem;
}

.home-container {
  background: url("./img/coelho.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
}

.home-container section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.content {
  max-width: 60rem;
}

.content h3 {
  color: var(--font-orange);
  font-size: 40px;
}

.faixa-roxa {
  background-color: #753987;
  padding: 30px 0;
  width: auto;
}

.infos {
  display: flex;
  justify-content: center;
  gap: 80px;
  color: #000000;
  text-align: center;
}

.info-item h3 {
  color: #FF7C2D;
}

.info-item p {
  color: #ffffff;
}

.title {
  font-size: 4rem;
  color: var(--font-orange);
  text-align: center;
  margin-bottom: 5rem;
}

.about .row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.about .row .content {
  padding: rem;
}

.adocao .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.adocao .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 1rem;
  cursor: pointer;
  background-color: #372345;
  border-radius: 5px;
}

.adocao .box-container .box:hover {
  background-color: #372345;
}

.adocao img {
  width: 215px;
  height: 220px;
}






